body{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
 
 }
 
 .box{
  transition-duration: 0.8s;
  border-radius: 12px;
  width: 150px;
  height: 150px;
  position: relative;
  background-color: #242F9B;
  transition-property: background-color  1s;
  transition-timing-function: 3s ease-in-out 1s;
  transition-property: width;
  transform-style: preserve-3d;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;



 }
 
 .box:hover{ 
  width: 300px;
  border-radius: 12px;


  
 }
 
 @keyframes example {
     0%   {background-color: #ff0000;margin-left: 0%;margin-top: 0%;}
     25%  {background-color: #0b5f00;margin-left: 500px;margin-top: 0%;}
     50%  {background-color: #0414a5;margin-left: 500px;margin-top: 500px;}
     75% {background-color: #fffb04;margin-left: 0%;margin-top: 500px;}
     100% {background-color: #00ffea;margin-left: 0%;margin-top: 0%;}

   }